.clearfix{
	display:block;
	clear:both;
}

.gallery{
	background:#222;
	border-radius:2px;
	margin:6px;
}

.gallery img {
	background:#111;
	border: 1px solid #333;
	padding:2px;
	border-radius:2px;
}

.gallery .gallery-item {
	float: left;
	padding-top: 10px;
	text-align: center;
}

.gallery .gallery-item:hover{
	

}
.gallery .gallery-caption {
	
	padding:4px 0 8px 0;
	color:#aaa;
}

/* Handles different column sizes */
.gallery.gallery-columns-1 .gallery-item {
	width:100%;
}
.gallery.gallery-columns-2 .gallery-item {
	width:50%;
}
.gallery.gallery-columns-3 .gallery-item {
	width:33%;
}
.gallery.gallery-columns-4 .gallery-item {
	width:25%;
}
.gallery.gallery-columns-5 .gallery-item {
	width:20%;
}
.gallery.gallery-columns-6 .gallery-item {
	width:16.5%;
}
.gallery.gallery-columns-7 .gallery-item {
	width:14.25%;
}
.gallery.gallery-columns-8 .gallery-item {
	width:12.5%;
}
.gallery.gallery-columns-9 .gallery-item {
	width:11.1%;
}

